<div [@fadeInOnEnter]>
    
    <h1>State <br> Management</h1>
    
    <h4>Observables</h4>
    <p>
        Observables are a technique for event handling, asynchronous programming, and handling multiple values emitted over time. The observer pattern is a software design pattern in which an object, called the subject, maintains a list of its dependents, called observers, and notifies them automatically of state changes.</p>
    <app-link link="https://angular.io/guide/observables-in-angular" title="angular.io"></app-link>
    
    <h4>RxJS</h4>
    <p>
        RxJS is a library for composing asynchronous and event-based programs by using observable sequences. At its highest level, an observable represents a template for connecting an Observer (entity is whoever is being notified of nexted values, and errors or completions), as a consumer, to a producer (any system or thing that is the source of values that are being pushed out of the observable subscription), via a subscribe action, resulting in a subscription.
    </p>
    <app-link link="https://www.learnrxjs.io/learn-rxjs/operators" title="learnrxjs.io"></app-link>
    
    <h4>NgRx</h4>
    <p>
        NgRx is a framework for building reactive applications in Angular. NgRx packages are divided into a few main categories. Store is RxJS powered global state management for applications, inspired by Redux. Store is a controlled state container designed to help write performant, consistent applications on top of Angular. Effects are an RxJS powered side effect model for Store. Effects use streams to provide new sources of actions to reduce state based on external interactions such as network requests, web socket messages and time-based events. Selectors are pure functions used for obtaining slices of store state.
    </p>
    <app-link link="https://ngrx.io/guide/store/walkthrough" title="ngrx.io"></app-link>
    
</div>