<div [@fadeInOnEnter]>

    <h1>RESTful <br> API</h1>

    <h4>Prototyping</h4>
    <p>
        Prototyping is a preparation phase for productive implementation. One goal of prototyping is to learn as many
        practical insights as possible while spending as little effort as possible. This can be achieved by quickly
        creating a simple prototype implementation, that you plan to throw away.
    </p>
    <app-link link="https://en.wikipedia.org/wiki/Software_prototyping" title="wikipedia.org"></app-link>

    <h4>Firebase</h4>
    <p>
        Firebase is a set of backend cloud computing services and application development platforms provided by Google.
        It hosts databases, services, authentication, and integration for a variety of applications.
    </p>
    <app-link link="https://firebase.google.com/docs/firestore" title="firebase.google.com"></app-link>

    <h4>Sails</h4>
    <p>
        While frontend development focuses on designing and creating the user interface that users interact with,
        backend development operates behind the scenes, handling the server-side logic, security and database management
        that powers the entire system. Sails comes with blueprints that help jumpstart your app's backend with several
        lines of code and a powerful ORM, Waterline, which provides a simple data access layer that just works, no
        matter what database you're using.
    </p>
    <app-link link="https://sailsjs.com" title="sailsjs.com"></app-link>

</div>