<div [@fadeInOnEnter]>
    
    <h1>Angular <br> Framework</h1>
    
    <h4>Web Components</h4>
    <p>
        Suite of different technologies elaborated to create reusable custom elements — with their functionality encapsulated away from the rest of your code — and utilize them in web applications. Web Components consists of three main technologies: Custom elements, Shadow DOM and HTML templates. Creating a custom element is simple and straightforward, and automatically connects component-defined view with change detection and data binding, mapping Angular functionality to the corresponding built-in HTML equivalents.
    </p>
    <app-link link="https://angular.io/guide/component-overview" title="angular.io"></app-link>
    
    <h4>Reactive Forms</h4>
    <p>
        Reactive forms use an explicit and immutable approach to managing the state of a form at a given point in time. Each change to the form state returns a new state, which maintains the integrity of the model between changes. Reactive forms are built around observable streams, where form inputs and values are provided as streams of input values, which can be accessed synchronously.
    </p>
    <app-link link="https://angular.io/guide/reactive-forms" title="angular.io"></app-link>
    
    
    <h4>Application Perfomance</h4>
    <p>
        There are several techniques to improve angular perfomance. For large applications with lots of routes, consider lazy loading — a design pattern that loads NgModules as needed. Lazy loading helps keep initial bundle sizes smaller, which in turn helps decrease load times. Angular Change Detection Strategy is used to detect changes in the data (model) and then renders them to the view — with OnPush strategy we can skip checks for components that uses OnPush strategy and all of its child component.
    </p>
    <app-link link="https://angular.io/api/core/ChangeDetectionStrategy" title="angular.io"></app-link>
    
</div>