<div [@fadeInOnEnter]>

    <h1>Design <br> Systems</h1>

    <h4>Material Design</h4>
    <p>
        Material Design is a design system built and supported by Google designers and developers. It enables personal,
        adaptive, and expressive experiences — from dynamic color and enhanced accessibility, to foundations for large
        screen layouts and design tokens. Angular Material provides tools that help developers build their own custom
        components with common interaction patterns.
    </p>
    <app-link link="https://material.angular.io/components/categories" title="material.angular.io"></app-link>

    <h4>Ant Design</h4>
    <p>
        The design values of Ant Design provide designers with internal standards for evaluation, enlighten and inspire
        the design principles and design patterns, and then offer guidance and general solutions for specific design
        problems. Design patterns adhere to Ant Design design values and provide a general solution to recurring design
        issues in enterprise products.
    </p>
    <app-link link="https://ng.ant.design/components/overview/en" title="ng.ant.design"></app-link>

    <h4>Tailwind UI</h4>
    <p>
        With over 500 professionally designed, fully responsive, expertly crafted component examples Tailwind UI
        customizes to web applications. Tailwind CSS is a utility-first CSS framework for rapidly building modern
        websites without ever leaving your HTML.
    </p>
    <app-link link="https://tailwindui.com/components" title="tailwindui.com"></app-link>

    <h4>Kendo UI</h4>
    <p>
        Kendo UI for Angular is a JavaScript UI library built natively for Angular with consistent API and theming, so
        no matter what to choose, UI will be modern, responsive, accessible and fast. It includes 110 fully native
        components for building high-quality modern Angular UI in no time.
    </p>
    <app-link link="https://www.telerik.com/kendo-angular-ui/components" title="telerik.com"></app-link>

    <h4>PrimeNG</h4>
    <p>
        PrimeNG is a rich set of open source native Angular UI components. With PrimeNG you can elevate your web
        applications comprehensive suite of customizable, feature-rich UI components, turning your development vision
        into reality has never been easier.
    </p>
    <app-link link="https://blocks.primeng.org" title="primeng.org"></app-link>

    <h4>Bootstrap</h4>
    <p>
        Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web
        development. It contains HTML, CSS and (optionally) JavaScript-based design templates for typography, forms,
        buttons, navigation, and other interface components.
    </p>
    <app-link link="https://ng-bootstrap.github.io/#/components" title="ng-bootstrap.github.io"></app-link>

</div>