.layout {
    padding: 10px;
}

.menu {
    font-size: 1.2em;
    font-weight: 600;
    font-family: "Open Sans", sans-serif !important;
    color: #2E86C1;
}

.about {
    font-size: 1.2em;
    font-weight: 600;
    color: #444;
    font-family: "Open Sans", sans-serif !important;
}

.item {
    font-size: 1.2em;
    font-family: "Open Sans", sans-serif !important;
    color: #444;
}